<div class="col-md-9">
	<h1>About Manuel</h1>
	<p>Based in Berlin</p>
</div>
<div class="col-md-3">
	<h2>Languages:</h2>
	<ul>fluent:
		<li>English</li>
		<li>Italian</li>
		<li>Spanish</li>
	</ul>
	<ul>intermediate:
		<li>French</li>
	</ul>
</div>
<p>head to the porfolio to see what I can do</p>
