<div class="row">
	<div class="container col-md-3">

	</div>
	<div class="container col-md-7">
		<h1>About Manuel</h1>
		<p>Born in Switzerland to Spanish mother and Italian father, I was raised in a cultural melting pot, this made me an open minded person that values diversity. As I have lived in different cosmopolitan cities, I had the opportunity to meet people from all geographical and cultural backgrounds.</p>
		<p>I've been told that in real life I am less pixelated. Sorry to disappoint.</p>
	</div>
	<div class="container col-md-2">
		<h2>Links</h2>
		<ul>
			<li><%= link_to "Github", "https://github.com/Salomanuel" %></li>
			<li><%= link_to "Facebok", "https://facebook.com/salomanuel" %></li>
		</ul>
		<h2>Languages:</h2>
		<ul>fluent:
			<li>English</li>
			<li>Italian</li>
			<li>Spanish</li>
		</ul>
		<ul>intermediate:
			<li>French</li>
		</ul>
	</div>
</div>
