<h1>Manuel</h1>

<div id="avatar-big">
	<%= image_tag "avatar_round.png", alt: "Manuel's avatar" %>
</div>
<p>
	Web Developer based in Berlin
</p>
<p>
	Specialized in developing using Ruby on Rails
</p>
       
<p>
	<a class="btn btn-lg btn-primary" href="https://getbootstrap.com/docs/3.3/components/#navbar" role="button">
		Contact
</a>
</p>
to do:
<ul>
	<li>tests</li>
	<li>favicon</li>
	<li>icons</li>
</ul>