<div>
	<div class="col-md-3">
		<%= image_tag "avatar_round.png", alt: "Manuel's avatar" %>
	</div>
	<div class="col-md-9">
		<h1>Manuel</h1>
		<p>
			Web Developer based in Berlin
		</p>
		<p>
			Specialized in developing using Ruby on Rails
		</p>
		<p>
			<%= link_to "Contact", contact_path, class: "btn btn-lg btn-primary" %>
		</p>
	</div>
</div>
to do:
<ul>
	<li>tests</li>
	<li>icons</li>
	<li>overview becomes portfolio</li>
	<li>small avatar top left</li>
</ul>