<div class="row">
	<div class="container col-md-3" class="index">
		<%= image_tag "avatar_round.png", id: "avatar", alt: "Manuel's avatar" %>
	</div>
	<div class="container col-md-6 index">
		<h1>Manuel</h1>
		<p>
			Back End Web Developer based in Berlin
		</p>
		<p>
			Specialized in developing using Ruby on Rails
		</p>
	</div>
	<div class="container col-md-3">
	</div>
</div>