<div class="row">
	<div class="container col-md-3">
		<%= image_tag "avatar_round.png", id: "avatar", alt: "Manuel's avatar" %>
	</div>
	<div class="container col-md-7">
		<h1>Manuel</h1>
		<p>
			Back End Web Developer based in Berlin
		</p>
		<p>
			Specialized in developing using Ruby on Rails
		</p>
		<p>
			<%= link_to "Contact", contact_path, class: "btn btn-lg btn-primary" %>
		</p>
	</div>
	<div class="container col-md-2">
		<h2>to do:</h2>
		<ul>
			<li>tests</li>
			<li>overview becomes portfolio</li>
		</ul>
	</div>
</div>