<h1>Manuel Salomone</h1>
<p>
	Ruby on Rails Developer
</p>

<p>
	This site links to my portfolio
</p>
       
<p>
	<a class="btn btn-lg btn-primary" href="https://getbootstrap.com/docs/3.3/components/#navbar" role="button">
		Contact
</a>
</p>
to do:
<ul>
	<li>inactive nav bar</li>
</ul>