<h1>Overview</h1>

<p>
	Here is my portfolio. Every project has an "About" page where it explains 
	the purposes of the exercise and the methods I used to achieve them.
</p>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" class="active" data-slide-to="0"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
      	<%= link_to(image_tag("saloflights.png", 		class:"d-block w-100", alt:"Saloflights screenshot"), "https://manuel-flight-booker.herokuapp.com") %>
      </div>
      <div class="item">
      	<%= link_to(image_tag("sample_app.png",  		class:"d-block w-100", alt:"Sample App screenshot"),  "https://manuel-sample-app.herokuapp.com/") %>
      </div>
      <div class="item">
      	<%= link_to(image_tag("stupid_squares.png", class:"d-block w-100", alt: "Stupid Squares screenshot"), squares_path) %>
      </div>
    </div>
  </div>
</div>