<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Ruby Projects</h1>
      <p class="lead text-muted">Those project helped me learn a lot about Ruby. There are many but I will mention only a few of them here. Unfortunately they aren't embedded, thus they must be run in the console.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4"> <!-- Tweets retriever -->
          <div class="card mb-4 box-shadow">
            <%= image_tag("twitter_api.png", :alt => "twitter api screenshot", class:"card-img-top") %>
            <div class="card-body">
            	<h2 class="card-title">Tweets_retriever</h2>
              <p class="card-text">An application that intereacts with the diabolic Twitter API. It asks for a Twitter user name and shows the latest tweets mentioning that user.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4"> <!-- Kinight' Travails -->
          <div class="card mb-4 box-shadow">
            <%= image_tag("knights_travails.png", :alt => "knight's travails screenshot", class:"card-img-top" ) %>
            <div class="card-body">
            	<h2 class="card-title">Knight’s Travails</h2>
              <p class="card-text">An application that shows the simplest possible way to get from one square of a chessboard to another while moving like the Knight piece in the game of Chess</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!-- Mastermind -->
          <div class="card mb-4 box-shadow">
            <%= image_tag("mastermind.png", :alt => "mastermind screenshot", class:"card-img-top" ) %>
            <div class="card-body">
            	<h2 class="card-title">Mastermind</h2>
              <p class="card-text">A Mastermind game from the command line where you have 12 turns to guess the secret code. It can also play itself.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
      <div class="row">
        <div class="col-md-4"> <!-- Tic Tac Toe -->
          <div class="card mb-4 box-shadow">
            <%= image_tag("tictac.png", :alt => "tic tac toe screenshot", class:"card-img-top" ) %>
            <div class="card-body">
          		<h2 class="card-title">Tic Tac Toe</h2>
              <p class="card-text">A tic-tac-toe game on the command line where two human players can play against each other and the board is displayed in between turns.</p>
          	 <a target="_blank" href="https://github.com/Salomanuel" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">View on Github</a>
            </div>
          </div>
        </div>

        <div class="col-md-4"> <!-- Simple Server -->
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
            	<h2 class="card-title">Simple_Server</h2>
              <p class="card-text">A simple command line web server that receives requests and sends a response based on those requests, along with a simple browser client to issue those requests.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
</main>